.env
.env.db
.env.prod
env
env/ 
.venv 
venv/
.venv/
/.venv
dist/ 
lib/ 
lib64/ 
wheels/ 
*.whl
*.log
*.pot
*.pyc
__pycache__
__pycache__/
db.sqlite3
/users/tests/__pycache__
/tours/__pycache__
/reviews/__pycache__
/Natours_Django/__pycache__
/bookings/__pycache__
.vs/*
/staticfiles
/mediafiles